<%= form_tag(controller: "main_pages", action: "update_password", method: "patch") do %>
  <strong>用户名：</strong>
  <%= current_user.username %>
  <div class="field">
    <%= label_tag :password, "新密码" %><br>
    <%= password_field_tag :password, {},{class: "form-control"} %>
  </div>
  <div>
    <%= label_tag :password_confirmation, "新密码确认" %><br>
    <%= password_field_tag :password_confirmation, {},{class: "form-control"} %>
  </div>

  <div class="actions">
    <%= submit_tag "保  存", class: "btn btn-large btn-primary" %>
    <%= link_to '返  回', roles_path %>
  </div>
<% end %>