<div class="row">
	<div class="span8">
		<div class="left">
			<%= render 'departments' %>

		</div>
		<div class="left">
			<%= render 'users' %>
		</div>
	</div>
	<div class="span4">
		<div class="right">
			<p><%= current_user.agency.name %></p>
			<p><%= current_user.username %></p>
			<P><%= current_user.roles.map { |role| role.name }.join(',') %></P>
			<p><%= current_user.department.nil?? "" : current_user.department.name %></p>
		</div>
		<div class="right">
			<%= render 'roles' %>
		</div>
	</div>
	</div>
</div>