<div class="span8">
	<div class="left">
		<%= render 'shared/my_announcements' %>
	</div>
	<div class="left">
		<%= render 'shared/projects' %>
	</div>
</div>
<div class="span4">
	<div class="right">
		<p><%= current_user.agency.name %></p>
		<p><%= current_user.username %></p>
		<P><%= current_user.roles.map { |role| role.name }.join(',') %></P>
		<p><%= current_user.department.nil?? "" : current_user.department.name %></p>
	</div>
	<div class="right">
		<%= render 'shared/my_reviews' %>
	</div>
</div>