<%= link_to "新机构", {}, :href => "#", :class => "btn btn-large btn-primary new_button", :remote => true,
  :onclick => "openNewWin('#{new_agency_path}')" %>  
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>名称</th>
      <th>描述</th>
      <th>部门数量</th>
      <th>用户数量</th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= link_to agency.name, {}, :href => "#", :remote => true,
          :onclick => "openNewWin('#{edit_agency_path(agency)}')" %>
        </td>
        <td><%= agency.description %></td>
        <td><%= agency.departments.count %></td>
        <td><%= agency.users.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @agencies%>