<div class="row">
  <div class="span6 offset3">
    <%= form_for(@role) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :name, "角色名称" %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="field">
        <%= label_tag "功能权限:" %>
          <% @menus.each do |menu| %>
          <div class="all_menus">
            <%= check_box_tag "menus_of_role[]", menu.id, 
              @role.menus.include?(menu) %>
            <%= label_tag menu.name %>  
            <% if menu.has_kids? %>
              <hr>
              <div class="sub_menus">
                <% menu.sub_menus.each do |sub_menu| %>
                  <%= check_box_tag "menus_of_role[]", sub_menu.id,
                    @role.menus.include?(sub_menu) %>
                  <%= label_tag sub_menu.name %>
                <% end %>
              </div>
              <hr>
            <% end %>
          </div>
        <% end %>  
      </div>

      <div class="actions">
        <%= f.submit "保  存", class: "btn btn-large btn-primary" %>
        <%= link_to '返  回', roles_path, class: "btn btn-large btn-default navbtn" %>
      </div>
    <% end %>
  </div>
</div> 