<p>
  <strong>流程名称:</strong>
  <%= @procedure.name %>
  <%= link_to '编辑', edit_procedure_path(@procedure) %>
</p>

<%= link_to '添加步骤', new_step_path(procedure_id: @procedure.id) %> |
<%= link_to '返回', procedures_path %>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>顺序</th>
			<th>审批人</th>
			<th></th>
			<th></th>	
		</tr>
	</thead>
	<tbody>
		<% @procedure.steps.sort { |a,b| a.view_order <=> b.view_order }.each do |step| %>
			<tr>
				<th><%= step.view_order %></th>
				<th><%= step.user.username %></th>
				<th><%= link_to "Edit", edit_step_path(step) %></th>
				<td><%= link_to 'Destroy', step, method: :delete, 
          data: { confirm: 'Are you sure?' } %>
        </td>
			</tr>
		<% end %>
	</tbody>
</table>