<div id="banner">
	<%= link_to 'JK-Platform', "#", id: "logo" %>
  
  <ul id="nav-left" class="nav nav-pills">
    <% Menu.where(parent_menu_id: nil).order('display_order asc').each do |parent| %>
      <% if parent.sub_menus.count > 0 %>
        <li class="dropdown one-level">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= parent.name %><span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
             <% parent.sub_menus.order('display_order asc').each do |sub| %> 
               <li><%= link_to sub.name, sub.url %></li>             
             <% end %>
          </ul>
        </li>   
      <% elsif %>
        <li><%= link_to parent.name, parent.url %></li>
      <% end %>
    <% end %>
  </ul>	

  <nav id="nav-right">
    <ul>
    	<li>欢迎您 张凯</li> 
    	<li>|</li> 
      <li>
      	<%= link_to "English", "#" %>
      </li> 
      <li>|</li>
			<li><%= link_to "帮助", "#" %></li>
			<li>|</li> 
			<li><%= link_to "注销", "#" %></li>
    </ul>
	</nav>
</div>