<!DOCTYPE html>
<html>
	<head>
	  <title>基于Rails的企业应用开发平台</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" =>true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "custom", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <script type="text/javascript">
	  	$( document ).ready(function() {
				// $("a.two_level").click(function( event ) {
				// 	alert(this.id);
				// 	event.preventDefault();
				// 	$.get(this.id, function() {
				// 		alert("it's done!");
				// 	});
				// });
			});
	  </script>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container <%= controller.controller_name %>">
			<div class="row" id="side">
				<!-- 左侧边导航 -->
				<div class="col-md-2">
					<%= render 'layouts/side' %>	
				</div>

				<!-- 内容区 -->
				<div class="col-md-10" id="content">
						<%= render 'shared/notice' %>
						<%= yield %>	
				</div>
			</div>
		</div>	
	</body>
</html>